
body{
  width: 100%;
  margin: 0 auto;
  background: rgb(30, 82, 71);
}

.navbar{
  display: flex;
  justify-content: flex-end;

}
nav{
  position: fixed;
  top:0;
  box-shadow: 10px black;
  font-size: xx-large;
  padding: 10px;
}

nav ul{
display: flex;
margin: 0;
padding: 0;
list-style-type: none;

}
/** Home Section*/

.profile-pic{
width: 300px;
height: 300px;
border-radius: 50%;
display: flex;
box-shadow:5px 5px 15px black;


}

h1{
  text-align: center;
}

.logo-container{
  justify-content: flex-end;
  display: flex;
}

.home-para{
  text-wrap: wrap;
  
}

/* nav elements*/
nav ul li :last-child{
  margin-right: 125px;
}

nav ul li a{
  top: 10px;
text-decoration: none;
  margin-right: 10px;
  padding: 10px;
}

nav ul li a:hover{
  text-decoration: underline solid #eaecec;
  
}


/** hero section*/
.hero-img{
  position: absolute;
  top:100px;
  width: 2000px;
  height: 100px;
}

/*mobile icons*/
.menu-icon{
  
  cursor: pointer;
}
.bar{
  background-color: rgb(255, 255, 255);
  width: 25px;
  height: 3px;
  margin: 10px;
  
}

.nav-links{
  display: none;
}

.nav-links.visible{
  display: flex;
  background-color: rgb(30, 82, 71);
  z-index: 1000;
  padding: 5px 5px;


}

.navbar{
  background-color:transparent;
  padding: 10px 8%;
}

